.tippy-box {
  background-color: rgb(52, 50, 50);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border-radius: 8px;
}

.tippy-content {
  padding: 8px 9px;
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
  top: -8px;
  color: rgb(52, 50, 50);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header .brand {
  display: flex;
  justify-content: space-around;
}

.header .brand .logo {
  display: flex;
  font-size: 35px;
  font-weight: 600;
  padding-left: 20px;
  margin-left: 100px;
  align-items: center;
  text-align: center;
}

img {
  box-shadow: 0.4px 0.5px 0.5px rgb(65, 65, 65);
}

.header .brand .thumbnail {
  display: flex;
  justify-items: center;
  width: 15%;
  border-radius: 100%;
  margin: 0 10px 0 10px;
  align-items: center;
}

.header .right {
  display: flex;
  align-items: center;
  color: white;
}

@media screen and (max-width: 500px) {
  .header .right.logo {
    flex: none;
    display: block;
  }

  .header {
    flex-direction: column;
  }
}
